<navbar></navbar>

<router-outlet></router-outlet>




<!-- <http-service></http-service> -->

<!-- 
<h1>changing password things</h1>
<app-change-psw></app-change-psw> -->


<!-- 
<h1>Reactive Form</h1>
<signup-form></signup-form>


<app-todo></app-todo> -->




<!-- <create-course></create-course> -->

<!-- <h1>Template driven form</h1> -->
<!-- <ngmodel-form></ngmodel-form> -->
















<!-- 
    
    
    
    
    <zippy title="Shoping Detail">
    Shipping detail contains... <br>make own shopping here <br>time to make more shopping
    <br>its deewali
</zippy>


<p>custom directives that convert inputed data into upper case</p>

<input type="text" appInputFormat>
<p></p>

<app-switch></app-switch>

<app-course></app-course>
<like
    [Count]="tweet.tcount"
    [isTrue]="tweet.tistrue">
</like>


<ngcon>
    <ng-container class="heading">hello word(ng content header)</ng-container>
    <div class="body">Thank You For Visiting us....(ng content body)</div>
</ngcon>
<capital></capital>
<br>
<fav [is-fav]="post.isfav" (change)="isfavchange()"></fav>


-->
